body {
  font-family: Avenir;
}


#wrapper #sidebar-nav, #wrapper .main {
  min-height: 100px !important;
  padding-top: 0px;
}


.div-side{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;

  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;

  display: box;
  box-orient: vertical;
  box-pack: center;
}



.button {
    background-color: transparent; /* Green */
    color: #676a6d;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border-bottom: 1px solid #ccc;
    border-color:#676a6d;
    float: right;
}



#title-product{
  color: inherit; 
  font-family: inherit;
  font-size: 30px;
}

.container-canvas {
        margin-right: auto;
        margin-left: auto;
  position: absolute;
  left:     50%;
  top:      50%;
}

.pan-indicator{
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.row-header{
  padding-top: : 10px;
  padding-bottom: 20px;
}

.lines{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.fas{
  font-size:22px ;
  color: #39c1c87d;
}

.far{
  font-size:40px ;
  color: #39c1c87d;
}

.fab{
  margin: auto;
  width: 50%;
  text-align: center;
  font-size:60px ;
  color: #39C1C8;
  display: block !important;
}


.brand{
width:inherit;
position:fixed;
margin-top: 10px;
}


#container-temperature{
    width: inherit !important;
    height: inherit !important;

}

canvas {
    border: 0px none black;
width: 100%;
height: auto;

}


#navbar-top  {
  border-right: none;
  width: 100%;
  margin-bottom: 20px;
}

#navbar-top  ul {
  margin: 0;
  padding: 0;
}

#navbar-top  ul li {
  list-style: none;
  text-align: center;


}

#navbar-top  ul li:first-child {
  border-left: none;
}

#navbar-top  ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  /*font-size: 22px;*/
  
}

#navbar-top  {
  display: table;
  table-layout: fixed;
}

#navbar-top  ul {
  display: flex;
  flex-direction: row;
}

#navbar-top  ul li {
    flex-grow: 1;
}

#navbar-top  ul li a.active {
    border-bottom: 3px solid #39C1C8 ;
    color: #33AEC7;

}

#navbar-top  ul li a {
   font-family: 'Avenir Next';
   src: local('AvenirNext-DemiBold');
   font-weight: bold;
   font-style: normal;
   color: #4A4A4A;
 }

 #navbar-top ul li a.asset-advisor{
   /*font-size: 28px;*/
   margin: 0;
 }

#gaugeDemo{
  height: 100%;
  width: 100%;
}

table, tr, td {
    border: none;
}

/* gauge widget */

#rectangle-temp-canvas{
    width: 100%;
    height:40px;
    background: #64728D;

}

#rectangle-humidity-canvas{
    width: 100%;
    height:40px;
    background: #F5A623;

}

#rectangle-energy-canvas{
    width: 100%;
    height:40px;
    background: #489FE6;

}

.contain-div{

    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contain-div-right{
    margin: 0;
  position: absolute;
  top: 70%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
  position: relative;
  width: 100%;
  max-width: 100px;
}

.image {
  display: block;
  width: 35%;
  height: auto;
  margin-left: auto;
margin-right: auto;
}

.last-element-nav{
  position: absolute !important; 
    bottom: 0;
    margin-bottom: 30px;
}

.ring-icon{
    color:red;
  float: right;
}

.disabled{
  display: none !important;
}

.disabled-hum{
  display: none !important;
}


.wid-right{
  padding-left: 5px;
  padding-right: 5px;
}

.row-middle{
  padding: 1%;
}

.p-widget{
  font-size: 0.90vw;
  margin: 0px;
}

.p-title{
  font-weight: bold;
}
